body{
    background-color: rgb(205, 247, 233);
}

.main{
    margin: 0 auto;
    height: 440px;
    width: 250px;
    align-items: center;
    box-shadow: 0 0 5px black;
    margin-top: 70px;
}

.head{
    text-align: center;
    background-color: rgb(48, 22, 51);
    height: 45px;
    font-size: 24px;
    align-items: center;
    color: rgb(226, 96, 49);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#result{
    height: 130px;
    color: white;
    width: 97%;
    font-size: 20px;
    text-align: right;
    background-color: rgb(39, 12, 70);

}
.b{
    
    border-radius: 35px;
    height: 45px;
    width: 45px;
    border: solid .1px rgb(56, 33, 87) ;
    margin-left: 12px;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    background-color: rgb(56, 33, 87);
    outline: none;
}

.btn{
    background-color: rgb(84, 69, 99);

}
.bt{
    background-color: rgb(84, 69, 99);
    padding-top: 15px;
}
.bn{
    background-color: rgb(84, 69, 99);
    padding-bottom: 10px;
}

.a{
    border-radius: 35px;
    height: 45px;
    width: 45px;
    border: solid .1px rgb(99, 59, 151) ;
    margin-left: 12px;
    font-size: 18px;
    color: white;
    background-color: rgb(99, 59, 151);
    margin-bottom: 0;
    padding-bottom: 0;
    outline: none;
}

.c{
    border-radius: 35px;
    height: 45px;
    width: 45px;
    border: solid .1px rgb(99, 59, 151) ;
    margin-left: 12px;
    font-size: 18px;
    color: white;
    background-color: rgb(226, 96, 49);
    margin-bottom: 0;
    padding-bottom: 0;
    outline: none;

}

.b:active{
    transform: translateY(4px);
    border: none;
    outline: none;
}

.c:active{
    transform: translateY(4px);
    border: none;
    outline: none;
}

.a:active{
    transform: translateY(4px);
    border: none;
    outline: none;
}